.inline {
  display: flex;
  flex-direction: row;
}

.paint-stock{
  margin-left:10px;
  margin-right:10px;
}

.user-stock{
  margin-left:10px;
  margin-right:10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: right;
}

.paint-box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding: 1px;
  margin: 8px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffb302;
  position: fixed;
  top: 0;
  left: 0;

  /* entire width of the device */
  width: 100%;
  align-items: center;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.active {
  background-color: #ffb302;
  color: black;
}

@media screen and (orientation:portrait) {
  .stock-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
  }

  h3 {
    margin-top: 35px;
  }
}

@media screen and (orientation:landscape) {

  .stock {
    display: flex;
    flex-direction: row;
  }

  .stock-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
  }

  .kanban-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    margin-left: 10px;
    margin-right: 10px;
  }

  h3 {
    margin-left: 10px;
  }
}